In [1]:
import pandas as pd

Создавать датафреймы можно так:

In [2]:
df = pd.DataFrame(data={
    'name': ['Bart', 'Homer', 'Marge', 'Maggie', 'Lisa', 'Bender', 'Fry', 'Lila', 'Anakin', 'Vader'],
    'number': [1,2,3,4,5,6,7,8,9,10], 
    'answer': ['yes', 'no', 'maybe', 'yes', 'yes', 'no', 'maybe', 'yes', 'no', 'no']
})
df

  answer    name  number
0    yes    Bart       1
1     no   Homer       2
2  maybe   Marge       3
3    yes  Maggie       4
4    yes    Lisa       5
5     no  Bender       6
6  maybe     Fry       7
7    yes    Lila       8
8     no  Anakin       9
9     no   Vader      10

In [3]:
df['new_one'] = [6,5,4,3,2,1,0,9,8,7]

In [4]:
df.drop(['new_one'], axis=1, inplace=True)

In [5]:
df.shape

(10, 3)

Просмотр:

In [6]:
df.head()

  answer    name  number
0    yes    Bart       1
1     no   Homer       2
2  maybe   Marge       3
3    yes  Maggie       4
4    yes    Lisa       5

In [7]:
df.head(2)

  answer   name  number
0    yes   Bart       1
1     no  Homer       2

In [8]:
df.tail(2)

  answer    name  number
8     no  Anakin       9
9     no   Vader      10

Выбор части таблицы:

In [9]:
df[['name', 'answer']]

     name answer
0    Bart    yes
1   Homer     no
2   Marge  maybe
3  Maggie    yes
4    Lisa    yes
5  Bender     no
6     Fry  maybe
7    Lila    yes
8  Anakin     no
9   Vader     no

Только значения одного столбца:

In [10]:
df.name # или df['name']

0      Bart
1     Homer
2     Marge
3    Maggie
4      Lisa
5    Bender
6       Fry
7      Lila
8    Anakin
9     Vader
Name: name, dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
answer    10 non-null object
name      10 non-null object
number    10 non-null int64
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [12]:
df.describe()

         number
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000

In [13]:
df.describe(include=['O'])

       answer   name
count      10     10
unique      3     10
top        no  Homer
freq        4      1

In [14]:
df[df.number > 7]

  answer    name  number
7    yes    Lila       8
8     no  Anakin       9
9     no   Vader      10

In [15]:
df.query('number > 7')

  answer    name  number
7    yes    Lila       8
8     no  Anakin       9
9     no   Vader      10

In [16]:
df.name.apply(lambda s: s.lower())

0      bart
1     homer
2     marge
3    maggie
4      lisa
5    bender
6       fry
7      lila
8    anakin
9     vader
Name: name, dtype: object

In [3]:
df.name.str.lower()

0      bart
1     homer
2     marge
3    maggie
4      lisa
5    bender
6       fry
7      lila
8    anakin
9     vader
Name: name, dtype: object

In [4]:
df.answer.value_counts()

no       4
yes      4
maybe    2
Name: answer, dtype: int64

In [5]:
df.name.unique()

array(['Bart', 'Homer', 'Marge', 'Maggie', 'Lisa', 'Bender', 'Fry', 'Lila',
       'Anakin', 'Vader'], dtype=object)

In [6]:
df.name.nunique()

10

Группировка:

In [7]:
df.groupby('answer').describe(include=['O'])

        name
       count unique     top freq
answer
maybe      2      2   Marge    1
no         4      4  Bender    1
yes        4      4    Lisa    1

Все запомнили?

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Еще раз!</h3> 
    </div>
    <ol>
        <li><b>df.shape</b> - размер
        <li><b>df.head(</b><i>N</i><b>)</b>, <b>df.tail(</b><i>N</i><b>)</b>, - просмотр
        <li><b>df[</b><i>массив имен колонок</i><b>]</b> - часть (slice) датафрейма
        <li><b>df['</b><i>имя колонки</i><b>']</b> - одна колонка (можно и через точку: <b>df.</b><i>имя_колонки</i>)
        <li><b>df.unique</b>, <b>df.nunique</b> - просмотр уникальных значений и их количества
        <li><b>df.value_counts</b> - сколько разных значений в колонке
        <li><b>df.</b><i>имя колонки</i><b>.apply</b> - применяет функцию к значениям в столбце
        <li><b>df.fillna</b> - заполняет NaN
        <li><b>df.dropna</b> - удаляет строки/столбцы с NaN
        <li><b>df.duplicated</b> - показывает строки, являющиеся дупликатами других
        <li><b>df.drop_duplicate</b> - удаляет строки-дупликаты
        <li><b>df[df.isnull().any(axis=1)]</b> - вывести строки, содержащие NaN
        <li><b>df[df.</b><i>имя колонки</i><b>.isnull().any(axis=1)]</b> - вывести только те строки, где в указанной колонке есть пропуски
        <li><b>df.groupby</b> - группировка по некоторому признаку
    </ol>
</div>