In [1]:
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline
matplotlib.rcParams.update({'font.size': 12})

In [2]:
import pandas as pd

<img src="images/hw_boston4.jpg">

# Данные

Возьмите данные с https://www.kaggle.com/c/shelter-animal-outcomes .

Обратите внимание, что в этот раз у нас много классов, почитайте в разделе __Evaluation__ то, как вычисляется итоговый счет (score).

In [8]:
train, test = pd.read_csv(
    'data/ShelterOutcomes/train.csv'
), pd.read_csv(
    'data/ShelterOutcomes/test.csv'
)

In [9]:
train.columns.values

array(['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'AnimalType',
       'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'], dtype=object)

In [10]:
train.OutcomeType.unique()

array(['Return_to_owner', 'Euthanasia', 'Adoption', 'Transfer', 'Died'], dtype=object)

In [14]:
# train.OutcomeSubtype.unique()

In [15]:
X = train.drop(['OutcomeSubtype', 'AnimalID', 'OutcomeType'], axis=1, errors='ignore')
y = train['OutcomeType']

In [16]:
X.head()

,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,Hambone,2014-02-12 18:22:00,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,Emily,2013-10-13 12:44:00,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,Pearce,2015-01-31 12:28:00,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,Elsa,2014-04-25 13:04:00,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
4,Jimmy,2015-03-28 13:11:00,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby

# Визуализация

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 1.</h3> 
    </div>
</div>

Выясните, построив необходимые графики, влияет ли возраст, пол или фертильность животного на его шансы быть взятыми из приюта.

In [3]:
# Ваш код здесь

# Построение моделей

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 2.</h3> 
    </div>
</div>

Посмотрите тетрадку с генерацией новых признаков. Сделайте как можно больше релевантных признаков из всех имеющихся.

Не забудьте параллельно обрабатывать отложенную выборку (__test__), чтобы в ней были те же самые признаки, что и в обучающей.

In [9]:
# Ваш код здесь

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 3.</h3> 
    </div>
</div>

Выполните отбор признаков, попробуйте различные методы. Проверьте качество на кросс-валидации. 

Выведите топ самых важных и самых незначащих признаков.

In [9]:
# Ваш код здесь

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 4.</h3> 
    </div>
</div>

Попробуйте смешать разные модели с помощью <b>sklearn.ensemble.VotingClassifier</b>. Увеличилась ли точность? Изменилась ли дисперсия?

In [23]:
X.head(1)

,Name,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,has_name
0,Hambone,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,True

In [21]:
X['has_name'] = X.Name.str.len() > 0

In [24]:
X.drop(['DateTime', 'Name'], axis=1, inplace=True, errors='ignore')

In [28]:
X.AnimalType     = X.AnimalType.astype('category')
X.SexuponOutcome = X.SexuponOutcome.astype('category')
X.AgeuponOutcome = X.AgeuponOutcome.astype('category')
X.Breed          = X.Breed.astype('category')
X.Color          = X.Color.astype('category')

In [29]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21383 entries, 0 to 21382
Data columns (total 6 columns):
AnimalType        21383 non-null category
SexuponOutcome    21382 non-null category
AgeuponOutcome    21368 non-null category
Breed             21383 non-null category
Color             21383 non-null category
has_name          21383 non-null bool
dtypes: bool(1), category(5)
memory usage: 231.3 KB

In [30]:
from lightgbm import LGBMClassifier

In [31]:
clf = LGBMClassifier()

In [33]:
clf.fit(X, y);

In [34]:
from sklearn.model_selection import cross_val_score

In [35]:
scores = cross_val_score(LGBMClassifier(), X, y, cv=5)
print('Accuracy: %.3f +- %.3f' % (np.mean(scores), 2*np.std(scores)))

Accuracy: 0.642 +- 0.006

<img src="images/hw_boston5.jpg">